/*
* Reset all original styles
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, Header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, Header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*     START OF CSS CHANGES     */

* {
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

body {
    background-image: url(Images/paperbackground.jpg);
    background-repeat: repeat;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Alegreya SC';
    font-weight: 700;
}

h1 {
    word-spacing: 0.2em;
    font-size: 3em;
    text-align: center;
    line-height: 1em;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.4em;
    margin: 0.75em 0 0.5em 0;
}

h4 {
    font-size: 1.2em;
}

input[type="submit"] {
    font-family: 'Alegreya SC';
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
}

nav, .nav-toggle, .nav-toggle-active {
    width: 100%;
    font-family: 'Alegreya SC';
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

.nav-toggle, .nav-toggle-active {
    font-size: 1.6em;
}

nav ul {
    list-style-type: none;
    border-top: 0.1em solid #000000;
}

nav li, nav ul, .nav-toggle, .nav-toggle-active {
    width: 100%;
    text-align: center;
    display: block;
    background-color: #666666;
}

nav div {
    color: #FFFFFF;
}

nav li, nav ul {
    border-bottom: 0.1em solid #000000;
}

nav li:last-child {
    border: none;
}

nav li:hover, .nav-toggle:hover, .nav-toggle-active {
    background-color: #888888;
}

nav a, .nav-toggle, .nav-toggle-active {
    color: #FFFFFF;
    display: block;
    padding: 0.5em 0;
    text-decoration: none;
}

.nav-toggle, .nav-toggle-active {
    margin-top: 0.5em;
}

nav input, nav label {
    display: block;
}

nav input[type="text"], nav input[type="password"] {
    font-family: Alegreya;
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

nav input {
    display: block;
    margin: 0 auto;
}

nav input[type="submit"] {
    margin-bottom: 0.5em;
}

main {
    margin: 1em 0;
    font-size: 1.4em;
    padding: 0 0.5em;
}

textarea {
    width: 100%;
    height: 10em;
}

p {
    margin-bottom: 0.5em;
}

#LoggedIn, #LoggedIn Input {
    margin-top: 0.2em;
    display: inline-block;
    text-align: right;
}

#LoggedIn {
    width: 100%;
}

#SiteContainer {
    width: 100%;
    font-family: Alegreya;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.6em;
}

#MainPlaceHolder_CharacterPanel {
    width: 100%;
}

#MainPlaceHolder_CharacterInfo, #MainPlaceHolder_CharacterVitals, #MainPlaceHolder_CharacterStats {
    width: 100%;
    display: block;
    margin-bottom: 0.5em;
}

#MainPlaceHolder_CharacterInfo span, #MainPlaceHolder_CharacterVitals span, #MainPlaceHolder_CharacterStats span {
    display: block;
}

#Character .CharacterName {
    font-family: 'Alegreya SC';
    font-weight: 700;
    font-size: 1.4em;
    margin: 0 0 0.1em 0;
    display: block;
}

#Character {
    text-align: center;

}

#Character input {
    font-size: 1em;
}

#MainPlaceHolder_CharacterInventory{
    text-align: left;
}

#MainPlaceHolder_CharacterInventory h3 {
    text-align: center;
    margin-top: 0.75em;
    margin-bottom: 0;
}

#Inventory, #Inventory li, #Inventory span {
    display: block;
}

#Inventory input {
    position: absolute;
    right: 0;
    margin-right: 0.5em;
    margin-top: -1.73em;
}

#Inventory > li {
    border-bottom: 0.1em solid #000000;
}

#Inventory ul {
    display: none;
}

#Inventory > li:first-child {
    border-top: 0.1em solid #000000;
}

#Inventory .EquipmentStats {
    display: inline-block;
    margin-right: 0.25em;
}

#MainPlaceHolder_EditCharacterBiografyButton, #MainPlaceHolder_SubmitBiografy,
#MainPlaceHolder_SpendPoints, #MainPlaceHolder_Create_User,
#MainPlaceHolder_CreateCharacter {
    display: block;
    margin-left: auto;
}

#MainPlaceHolder_LevelUp {
    margin: 0.75em 0 0.5em 0;
}

#MainPlaceHolder_Create_User {
    margin-top: 1em;
}

#MainPlaceHolder_SpendPoints, #MainPlaceHolder_CreateCharacter,
#MainPlaceHolder_RaceLabel {
    margin-top: 0.5em;
}

#MainPlaceHolder_CharacterBiografyPanel p {
    font-style: italic;
}

#MainPlaceHolder_PointsLeft {
    display: block;
    font-weight: 700;
    margin-top: 1em;
}

#MainPlaceHolder_CharacterLevelUpUpdatePanel label, #MainPlaceHolder_RaceAndStatsUpdate label {
    display: inline-block;
    width: 50%;
}

#MainPlaceHolder_NameLabel, #MainPlaceHolder_RaceLabel {
    font-weight: 700;
    display: block;
}

#MsgPanel, #ValidationSummary {
    width: 100%;
    border: 0.2em solid #000000;
    border-radius: 0.5em;
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    background-color: #CCCCCC;
}

#ValidationSummary {
    background-color: #FF4038;
    border-radius: 0.5em;
}

#MainPlaceHolder_UsernameLabel, #MainPlaceHolder_PasswordLabel,
#MainPlaceHolder_EmailLabel, #MainPlaceHolder_LeaderboardTypeLabel {
    display: block;
    font-weight: 700;
}

#MainPlaceHolder_Username, #MainPlaceHolder_Password,
#MainPlaceHolder_Email {
    margin-bottom: 0.5em;
}

#MainPlaceHolder_Username, #MainPlaceHolder_Password,
#MainPlaceHolder_Email, #MainPlaceHolder_Name,
#MainPlaceHolder_RaceList, #MainPlaceHolder_LeaderboardType {
    font-size: 1em;
}

#Leaderboard {
    display: table;
    width: 100%;
    margin-top: 1em;
    font-size: 0.7em;
}

#Leaderboard li {
    display: table-row;
    width: 100%;
}

#Leaderboard li:first-child {
    display: table-header-group;
    font-size: 1.1em;
    font-weight: 700;
}

#Leaderboard li > span, #Leaderboard a{
    display: table-cell;
    padding-bottom: 0.5em;
    vertical-align: central;
    text-align: center;
}

.statControls {
    display: inline-block;
    margin-bottom: 0.5em;
}

.statControls input[type="text"] {
    width: 4em;
    font-size: 1.2em;
    text-align: center;
    background-color: #CCCCCC;
    color: #444444;
}

.CharacterGold {
    display: block;
    margin-top: 0.5em;
}

.EquipmentName, .CharacterGold, .EquipmentValue, .MonsterName {
    font-weight: 700;
}

.EquipmentValue:not(:first-child) {
    margin-top: 0.5em;
}

.EquipmentName {
    padding: 0.5em 0;
}

.EquipmentName:hover {
    background-color: #BBBBBB;
    cursor: pointer;
}

.EquipmentUse {
    display: block;
    width: 100%;
}

.EquipmentStats:after {
    content: ", ";
}

.EquipmentStats:last-child:after {
    content: none;
}

.Pagination {
    width: 100%;
    text-align: center;
}

.Monster {
    border-bottom: 0.1em solid #000000;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.Monster:last-child {
    border: 0;
    margin: 0;
    padding: 0;
}

.MonsterName, .MonsterLevel, .MonsterScenario {
    display: block;
}

.MonsterScenario {
    font-style: italic;
}

.Monster input {
    display: block;
    margin-left: auto;
    margin-top: 0.5em;
}

.turn {
    font-size: 1.2em;
    font-weight: 700;
}

.attack {
    display: block;
    margin-bottom: 0.5em;
}

.infoPanel {
    display: block;
    margin: 1em 0;
    border-top: 0.1em dashed #000000;
    border-bottom: 0.1em dashed #000000;
}

.infoPanelDamage {
    display: inline-block;
    width: 49%;
    padding: 0.5em 1em;
}

.infoPanelDamage span {
    display: inline-block;
    width: 100%;
}

.infoPanelDamage:last-child span {
    text-align: right;
}

.attacker {
    color: #FF3E0D;
    font-style: italic;
}

.defender {
    color: #4D71FF;
    font-style: italic;
}

.giveup, .deadString {
    margin-bottom: 0.5em;
}

.deadString {
    color: #FF3E0D;
}

.deadChar, .char {
    font-style: italic;
}

.giveup:before, .deadString:before {
    content: ">> ";
}

.endresult, .TeamNumber {
    font-weight: 700;
}

.CombatantTeams {
    width: 100%;
    padding: 1em;
    border: 0.2em solid #000000;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.Team {
    display: inline-block;
    width: 49%;
}

.Team > span {
    display: block;
}

@media all and (min-width: 25em) {
    #Leaderboard {
        font-size: 1em;
    }
}

@media all and (min-width: 30em) {
    #Leaderboard {
        font-size: 1.2em;
    }
}

@media all and (min-width: 40em) {
    nav {
        margin-top: 0.5em;
    }

    #SiteContainer {
        background-image: url(Images/paperbackground.jpg);
    }
}